@tailwind base;
@tailwind components;
@tailwind utilities;

.list {
	flex: 1;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
	font-semibold: true;
	background-color: #ffffff;
	border-radius: 0.75rem;
}
